.country {
  padding: 3em 0 0 3em;;
}


.title {
  font-size: 2.4em;
  padding-bottom: .4em;
}

.countryName {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.cityInfo {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

#cityinfo5abec9dfab3aa2000a0132a2 {
  display: flex;
}

.cityInfo img {
  width: 100%;
  padding: 1em;
}

.imageDiv {
  width: 55%;
  padding-right: 1em;
}
