.postAddButton  {
  display: flex;
  margin: 1em 0;
  align-items: center;
  padding-top: 1.5em;
}

.postAddButton p {
  font-size: 1.5em;
  font-weight: 500;
  padding-right: .8em;
  margin: 0;
  text-transform: uppercase;
}

.postAddButton button {
  border: .07em solid black;
  font-size: 3em;
  text-align: center;
  padding: .5em .3em;
  line-height: 0;
  border-radius: 2.5em;
}
