nav {
  display: flex;
  margin: 1em;
  border-bottom: .1em solid black;
  align-items: flex-end;
}

a {
  padding: .5em 1em;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: raleway;
  letter-spacing: .1em;
  font-size: 1.2em;
}

.logo {
  font-size: 1.7em;
  font-weight: 700;
  padding: .5em 2em;
  color: rgb(50,200,200)
}
